/*
 * Skin: Purple
 * ------------
 */

.skin-purple-light {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($purple, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($purple, 5%);
        }
      }
      @media(max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255,255,255,0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($purple, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      @include logo-variant($purple);
    }

    li.user-header {
      background-color: $purple;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-light-sidebar($purple);
}
