/*
 * Skin: Blue
 * ----------
 */

.skin-blue {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($light-blue, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($light-blue, 5%);
        }
      }
      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($light-blue, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      @include logo-variant(darken($light-blue, 5%));
    }

    li.user-header {
      background-color: $light-blue;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($light-blue);
}

.skin-blue.layout-top-nav .main-header > .logo {
  @include logo-variant($light-blue);
}
