.exper-icon {
    text-align: center;
        margin: 50px auto;
        font-size: 13px;
}

.exper-icon-img {
    max-width: 50px;
}

.exper-img {
    min-height: 92px;
    vertical-align: middle !important;
    line-height: 92px;
}

p.exp-desc {line-height: 14px;}

/*---Home Offers---*/

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

.column-offer h1 {
    font-size: 50px;
    word-break: break-all;
}

.offer-row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column-offer */
.offer-row,
.offer-row > .column-offer {
    padding: 8px;
}

/* Create three equal column-offers that floats next to each other */
.column-offer {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.offer-row:after {
    offer-content: "";
    display: table;
    clear: both;
}

/* offer-content */
.offer-content {
    background-color: white;
    padding: 10px;
}

/* The "offer-show" class is added to the filtered elements */
.offer-show {
  display: block;
}

/* Style the buttons */
.off-nav {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.off-nav:hover {
  background-color: #ddd;
}

.off-nav.active {
  background-color: #666;
  color: white;
}

.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.column-offer .panel {
    padding: 18px 8px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.price-div {
    border: 1px solid #ddd;
    padding: 10px;
}

.price-div .Price {
    width: 60%;
    float: left;
    padding: 10px;
}

.offer-link {
    text-align: right;
}

.price-btn {
    background: #efefef;
} 

span.rupee-symbol {
    margin-right: 2px;
}

span.deal-date {
    color: #949494;
    font-size: 14px;
}

section.home-offer-sect {
    padding: 100px 0;
    background: #f1f1f1;
}

section.refernearnsec {
    margin: 20px auto;
    text-align: center;
}

/* Hover on Package Card */


.image-dest-home:hover {
    background: radial-gradient(at 63% -99%,rgba(229, 57, 53, 0.6901960784313725),rgba(63, 81, 181, 0.6784313725490196))!important;
}

.image-dest-home:hover img {
    z-index: -1;
    opacity: 0.1;
}

.image-dest-home:hover .fa {
    color: #fff !important;
}

.image-dest-home:hover a {
    color: #fff !important;
}

.image-dest-home:hover span {
    color: #fff !important;
}

.image-dest-home:hover p {
    color: #fff !important;
}

.image-dest-home:hover article {
    color: #fff !important;
}

.entry-content1 a {
    font-size: 20px;
}

.entry-content .price span {
    color: #000;
}

.inclusion-x p {
    margin-bottom: 0px;
}

span.but-div {
    z-index: -1;
    /* margin-top: 20px; */
    position: absolute;
    top: 25px;
    left: 40px;
}

button.packard-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
}

.image-dest-home:hover .but-div {
    z-index: 3;
}

.ftr-cprght {
    color: #fff !important;
}

p.ftr-desc {
    color: #fff;
}

p.ftr-desc a {
    color: #fff;
}