body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  transition: all .5s; }

.bold30 {
  font-size: 30px;
  font-weight: 800; }

.font20 {
  font-size: 20px; }

.bold24 {
  font-size: 24px;
  font-weight: 800; }

.customNav.navbar .nav-link {
  color: #fffafa; }

.navbar-nav li .dropdown-menu a {
  border-bottom: 1px solid #ebebeb; }

.navbar-nav li a {
  font-size: 18px; }

.navbar-nav li .dropdown-menu a:last-child {
  border-bottom: 0px; }

.img-logo {
  max-width: 200px; 
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  margin-left: -121px;
  padding: 5px 10px;
  border-radius: 7px;}

.searchContainer .nav-tabs {
  height: 100px;
  background-color: #fff;
  border-radius: 16px;
  border-bottom: 0px solid #dee2e6; }

.searchContainer {
  width: 50%;
  margin: 0 auto;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 95px;
  z-index: 11; }
  .searchContainer span img:hover {
    transform: scale(1.3);
    transition: all .5s; }
  .searchContainer span img.rotate90:hover {
    transform: none;
    transition: all .5s; }

.searchSubContainer {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px 20px 0; }

.searchSubContainer .nav-tabs {
  background-color: #fff;
  border-radius: 16px;
  border-bottom: 0px solid #dee2e6; }

.searchSubContainer .nav-tabs .nav-item.show .nav-link,
.searchSubContainer .nav-tabs .nav-link.active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #fff0 #fff0 #fff0 #fff0; }

.searchContainer .nav-tabs .nav-item.show .nav-link,
.searchContainer .nav-tabs .nav-link.active {
  color: #008cff;
  border-bottom: 3px solid !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #f6fbff00 #ffffff00 #008cff #fff0; }

.searchContainer li a, .searchSubContainer li a {
  color: gray;
  text-align: center; }

.searchContainer .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff0; }

.bgTransparent {
  background-color: transparent !important; }

.rotate90 {
  transform: rotate(90deg); }

.fsw_inner {
  display: flex;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  z-index: 0; }
  .fsw_inner div.onhover1 {
    border-right: 1px solid #e7e7e7; }
  .fsw_inner div.onhover1:last-of-type {
    border-right: 0px solid #e7e7e7; }
  .fsw_inner div.onhover1.travellers {
    max-width: 19%; }
  .fsw_inner div.departure, .fsw_inner div.return {
    max-width: 15%; }
  .fsw_inner div.onhover1:first-of-type:hover {
    background: #eaf5ff;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px; }
  .fsw_inner div.onhover1:hover {
    background: #eaf5ff; }
  .fsw_inner div.onhover1 label {
    color: #4a4a4a;
    font-size: 14px; }
  .fsw_inner label {
    text-transform: uppercase;
    font-weight: 700; }
  .fsw_inner input {
    padding: 0;
    font-size: 30px;
    font-weight: 800;
    color: #000000;
    background: none;
    border: 0px solid;
    text-transform: capitalize; }
  .fsw_inner input:focus {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none; }
  .fsw_inner input.date {
    font-size: 25px; }
  .fsw_inner input:-internal-autofill-selected {
    background-color: transparent !important; }

.fsw_inputBox label {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer; }

.swipCircle {
  width: 40px;
  height: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
  position: relative;
  top: 34px;
  left: 17px; }

.landingSprite {
  background: url(https://img.icons8.com/ios/15/000000/data-in-both-directions.png) no-repeat;
  display: inline-block;
  /* -webkit-background-size: 200px 550px; */
  -moz-background-size: 200px 550px;
  -o-background-size: 200px 550px;
  /* background-size: 200px 550px; */
  font-size: xx-large;
  height: 23px;
  width: 23px;
  flex-shrink: 0;
  background-position: 4px; }

.searchBtn {
  width: 216px;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  background-image: -webkit-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: -moz-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: -o-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: linear-gradient(96deg, #53b2fe, #33469f);
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center; }

.truncate {
  width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  transition: all .5s; }

.bgGradient {
  background: #f2f2f2;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#32459f), to(#010206));
  background-image: -webkit-linear-gradient(top, #32459f, #010206);
  background-image: -moz-linear-gradient(top, #32459f, #010206);
  background-image: -o-linear-gradient(top, #32459f, #010206);
  background-image: linear-gradient(180deg, #32459f, #010206);
  -webkit-background-size: 100% 530px;
  -moz-background-size: 100% 530px;
  -o-background-size: 100% 530px;
  background-size: 100% 530px;
  min-height: 120vh; }

.bold30 {
  font-size: 30px;
  font-weight: 800; }

.font20 {
  font-size: 20px; }

.bold24 {
  font-size: 24px;
  font-weight: 800; }

.customNav.navbar .nav-link {
  color: #fffafa; }

.navbar-nav li .dropdown-menu a {
  border-bottom: 1px solid #ebebeb; }

.navbar-nav li a {
  font-size: 18px; }

.navbar-nav li .dropdown-menu a:last-child {
  border-bottom: 0px; }

.img-logo {
  max-width: 200px; }

.searchContainer .nav-tabs {
  height: 100px;
  background-color: #fff;
  border-radius: 16px;
  border-bottom: 0px solid #dee2e6; }

.searchContainer {
  width: 50%;
  margin: 0 auto;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 95px;
  z-index: 11; }
  .searchContainer span img:hover {
    transform: scale(1.3);
    transition: all .5s; }
  .searchContainer span img.rotate90:hover {
    transform: none;
    transition: all .5s; }

.searchSubContainer {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px 20px 0; }

.searchSubContainer .nav-tabs {
  background-color: #fff;
  border-radius: 16px;
  border-bottom: 0px solid #dee2e6; }

.searchSubContainer .nav-tabs .nav-item.show .nav-link,
.searchSubContainer .nav-tabs .nav-link.active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #fff0 #fff0 #fff0 #fff0; }

.searchContainer .nav-tabs .nav-item.show .nav-link,
.searchContainer .nav-tabs .nav-link.active {
  color: #008cff;
  border-bottom: 3px solid !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #f6fbff00 #ffffff00 #008cff #fff0; }

.searchContainer li a, .searchSubContainer li a {
  color: gray;
  text-align: center; }

.searchContainer .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff0; }

.bgTransparent {
  background-color: transparent !important; }

.rotate90 {
  transform: rotate(90deg); }

.fsw_inner {
  display: flex;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e7e7e7;
  z-index: 0; }
  .fsw_inner div.onhover1 {
    border-right: 1px solid #e7e7e7; }
  .fsw_inner div.onhover1:last-of-type {
    border-right: 0px solid #e7e7e7; }
  .fsw_inner div.onhover1.travellers {
    max-width: 19%; }
  .fsw_inner div.departure, .fsw_inner div.return {
    max-width: 15%; }
  .fsw_inner div.onhover1:first-of-type:hover {
    background: #eaf5ff;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px; }
  .fsw_inner div.onhover1:hover {
    background: #eaf5ff; }
  .fsw_inner div.onhover1 label {
    color: #4a4a4a;
    font-size: 14px; }
  .fsw_inner label {
    text-transform: uppercase;
    font-weight: 700; }
  .fsw_inner input {
    padding: 0;
    font-size: 30px;
    font-weight: 800;
    color: #000000;
    background: none;
    border: 0px solid;
    text-transform: capitalize; }
  .fsw_inner input:focus {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none; }
  .fsw_inner input.date {
    font-size: 25px; }
  .fsw_inner input:-internal-autofill-selected {
    background-color: transparent !important; }

.fsw_inputBox label {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer; }

.swipCircle {
  width: 40px;
  height: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: -40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
  position: relative;
  top: 34px;
  left: 17px; }

.landingSprite {
  background: url(https://img.icons8.com/ios/15/000000/data-in-both-directions.png) no-repeat;
  display: inline-block;
  /* -webkit-background-size: 200px 550px; */
  -moz-background-size: 200px 550px;
  -o-background-size: 200px 550px;
  /* background-size: 200px 550px; */
  font-size: xx-large;
  height: 23px;
  width: 23px;
  flex-shrink: 0;
  background-position: 4px; }

.searchBtn {
  width: 216px;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  background-image: -webkit-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: -moz-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: -o-linear-gradient(354deg, #53b2fe, #33469f);
  background-image: linear-gradient(96deg, #53b2fe, #33469f);
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center; }

.truncate {
  width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; }

.landingSprite {
  background: url(//imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@2x.png) no-repeat;
  display: inline-block;
  -webkit-background-size: 200px 550px;
  -moz-background-size: 200px 550px;
  -o-background-size: 200px 550px;
  background-size: 200px 550px;
  font-size: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.navOnly .chSprite {
  -webkit-background-size: 300px 267px;
  -moz-background-size: 300px 267px;
  -o-background-size: 300px 267px;
  background-size: 300px 267px; }

.mmtDoubleBlackIcon {
  width: 21px;
  height: 21px;
  background-position: -170px -30px; }

.mmtBlackIcon {
  width: 24px;
  height: 24px;
  background-position: -144px -31px; }

.myTripsIcon {
  width: 16px;
  height: 25px;
  background-position: -122px -30px; }

.supportIcon {
  width: 23px;
  height: 25px;
  background-position: -174px -2px; }

.walletBlanceIcon {
  width: 25px;
  height: 25px;
  background-position: -145px -2px; }

.bellIcon {
  width: 20px;
  height: 25px;
  background-position: -122px -2px; }

.whiteDownArrowIcon {
  width: 10px;
  height: 6px;
  background-position: -85px -33px; }

.moreArrowIcon {
  width: 10px;
  height: 6px;
  background-position: -85px -24px; }

.moreArrowBlueIcon {
  width: 10px;
  height: 6px;
  background-position: -85px -15px; }

.errorCloseIcon {
  width: 16px;
  height: 16px;
  background-position: -68px -12px; }

.errorIcon {
  width: 16px;
  height: 16px;
  background-position: -1px -432px; }

.removeBigIcon {
  width: 28px;
  height: 28px;
  background-position: -170px -56px; }

.commonRemoveIcon {
  width: 28px;
  height: 28px;
  background-position: -170px -56px !important; }

.swipCircle {
  width: 40px;
  height: 40px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: -22px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer; }

.myIcon {
  width: 15px;
  height: 12px;
  background-position: -184px -150px; }

.myBigIcon {
  width: 33px;
  height: 24px;
  background-position: -54px -399px !important; }

.swipIcon {
  width: 15px;
  height: 11px;
  background-position: -149px -111px; }

.returnCross {
  width: 20px;
  height: 20px;
  background-position: -145px -59px; }

.loginExpRemove {
  width: 20px;
  height: 20px; }

.loginExpRemove,
.loginExpRemoveCosmos {
  background-position: -145px -59px !important; }

.blueArrowIcon {
  background-position: -174px -86px;
  width: 24px;
  height: 10px; }

.blueArrowBigIcon {
  background-position: -160px -86px;
  width: 40px;
  height: 10px; }

.blueRoundTripIcon {
  background-position: -46px -480px;
  width: 16px;
  height: 10px; }

.blueOnewayArrowIcon {
  background-position: -48px -495px;
  width: 10px;
  height: 8px; }

.greyArrowIcon {
  background-position: -166px -112px;
  width: 16px;
  height: 10px; }

.greyRoundTripIcon {
  background-position: -181px -112px;
  width: 16px;
  height: 10px; }

.whyBookSeatIcon {
  width: 19px;
  height: 25px;
  background-position: -43px -199px; }

.whyBookOffersIcon {
  width: 26px;
  height: 16px;
  background-position: -40px -240px; }

.whyBookLowestIcon {
  width: 30px;
  height: 27px;
  background-position: -75px -166px; }

.userItemMyTrips {
  width: 24px;
  height: 22px;
  background-position: -111px -166px; }

.userItemMyWallet {
  width: 24px;
  height: 18px;
  background-position: -143px -166px; }

.userItemMMTBlack {
  width: 24px;
  height: 23px;
  background-position: -143px -194px; }

.userItemDoubleBlack {
  width: 24px;
  height: 24px;
  background-position: -80px -194px; }

.userItemMyProfile {
  width: 21px;
  height: 21px;
  background-position: -112px -197px; }

.makeFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.pushRight {
  margin-left: auto; }

.userItemMakePayment {
  width: 19px;
  height: 24px;
  background-position: -175px -194px; }

.userItemSupport {
  width: 23px;
  height: 19px;
  background-position: -173px -165px; }

.userItemLogout {
  width: 18px;
  height: 18px;
  background-position: -182px -127px; }

.myBizIcon {
  width: 44px;
  height: 22px;
  background-position: -82px -227px; }

.myTripDleBlkIcon {
  width: 16px;
  height: 17px;
  background-position: -122px -58px; }

.addOnIcon {
  width: 16px;
  height: 16px;
  background-position: -102px -98px; }

.emailIcon,
.webCheckIcon {
  width: 9px;
  height: 16px;
  background-position: -146px -79px; }

.printIcon {
  width: 17px;
  height: 16px;
  background-position: -122px -79px; }

.modifyIcon {
  width: 14px;
  height: 16px;
  background-position: -84px -79px; }

.myTripFlightIcon {
  width: 16px;
  height: 16px;
  background-position: -131px -224px; }

.getDirIcon {
  width: 16px;
  height: 16px;
  background-position: -83px -96px; }

.myTripHotelIcon {
  width: 17px;
  height: 17px;
  background-position: -169px -224px; }

.myTripBusIcon {
  width: 17px;
  height: 17px;
  background-position: -150px -224px; }

.mmtAssIcon {
  width: 80px;
  height: 20px;
  background-position: -81px -253px; }

.myTripAdultIcon {
  width: 14px;
  height: 14px;
  background-position: -174px -247px; }

.myTripSeatIcon {
  width: 12px;
  height: 14px;
  background-position: -160px -245px; }

.myTripRoomIcon {
  width: 10px;
  height: 14px;
  background-position: -191px -245px; }

.busTrackingIcon {
  width: 14px;
  height: 16px;
  background-position: -82px -61px; }

.zeroCancelLogo {
  width: 21px;
  height: 28px;
  background-position: -2px -298px; }

.handGestureZero {
  width: 80px;
  height: 40px;
  background-position: -39px -350px; }

.mmtPromiseLogo {
  width: 21px;
  height: 28px;
  background-position: -2px -330px; }

.handGesturePromise {
  width: 80px;
  height: 40px;
  background-position: -39px -299px; }

.addOnIcons {
  width: 123px;
  height: 28px;
  background-position: -85px -275px; }

.handGestureAddon {
  width: 80px;
  height: 40px;
  background-position: -120px -346px; }

.bnplIcons {
  width: 26px;
  height: 33px;
  background-position: -2px -360px; }

.handGestureBnpl {
  width: 80px;
  height: 40px;
  background-position: -120px -305px; }

.bpglIcons {
  width: 26px;
  height: 33px;
  background-position: -2px -396px; }

.handGestureBpg {
  width: 80px;
  height: 40px;
  background-position: -120px -392px; }

.oneWayIcon {
  width: 22px;
  height: 20px;
  background-position: -74px -40px; }

.heartIcon {
  width: 24px;
  height: 19px;
  background-position: -28px -400px; }

.fareDownIcon {
  width: 9px;
  height: 10px;
  background-position: -75px -1px; }

.fareCalIcon {
  width: 13px;
  height: 14px;
  background-position: -24px -298px; }

.footerMyIcon {
  width: 20px;
  height: 21px;
  background-position: -98px -28px; }

.proOfferIcon {
  width: 20px;
  height: 21px;
  background-position: -98px -2px; }

.aboutSiteIcon {
  width: 20px;
  height: 21px;
  background-position: -98px -54px; }

.partnerProgIcon {
  width: 20px;
  height: 21px;
  background-position: -98px -76px; }

.twiiterIcon {
  width: 30px;
  height: 24px;
  background-position: -84px -132px; }

.facebookIcon {
  width: 14px;
  height: 30px;
  background-position: -162px -126px; }

.googlePlusIcon {
  width: 41px;
  height: 27px;
  background-position: -117px -130px; }

.scrollSWIcon {
  width: 18px;
  height: 18px;
  background-position: -43px -39px; }

.scrollSWIcon.active {
  background-position: -43px -6px; }

.scrollOfferIcon {
  width: 18px;
  height: 18px;
  background-position: -9px -240px; }

.scrollOfferIcon.active {
  background-position: -9px -206px; }

.scrollPromoIcon {
  width: 14px;
  height: 16px;
  background-position: -7px -455px; }

.scrollPromoIcon.active {
  background-position: -36px -455px; }

.scrollTripsIcon {
  width: 21px;
  height: 13px;
  background-position: -8px -108px; }

.scrollTripsIcon.active {
  background-position: -8px -74px; }

.scrolHotelIcon {
  width: 22px;
  height: 21px;
  background-position: -42px -168px; }

.scrolHotelIcon.active {
  background-position: -42px -137px; }

.scrolHolidayTrendingIcon {
  width: 13px;
  height: 21px;
  background-position: -7px -524px; }

.scrolHolidayTrendingIcon.active {
  background-position: -33px -524px; }

.scrollFlightIcon {
  width: 23px;
  height: 13px;
  background-position: -7px -40px; }

.scrollFlightIcon.active {
  background-position: -7px -10px; }

.pendingRqstIcon {
  width: 34px;
  height: 34px;
  background-position: -50px -416px; }

.travelRqstIcon {
  width: 41px;
  height: 20px;
  background-position: -54px -395px; }

.upcomingTripsIcon {
  width: 29px;
  height: 35px;
  background-position: -87px -415px; }

.chatIcon {
  width: 29px;
  height: 27px;
  background-position: -89px -393px; }

.scrolHotelIcon,
.scrollFlightIcon,
.scrollOfferIcon,
.scrollSWIcon,
.scrollTripsIcon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all 0.3s linear; }

main {
  min-height: 100px; }

.mmtLogo img {
  width: 113px;
  height: 36px; }

.landingContainer {
  width: 1200px;
  margin: 0 auto; }

.topSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.stickyHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: slideInDown .2s linear;
  -moz-animation: slideInDown .2s linear;
  -o-animation: slideInDown .2s linear;
  animation: slideInDown .2s linear;
  z-index: 14; }

.stickyHeader .moreItem:hover .moreOption {
  top: 45px;
  left: -10px; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@-moz-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); } }
@-o-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0); } }
.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown; }

.notiDropdown {
  width: 348px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 14;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2); }

.notiDropdown,
.notiDropdown img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.dropDownInner {
  overflow: auto;
  height: 400px;
  height: auto; }

.dropDownInner .notiTile {
  background: #fffad4; }

.notiImg img {
  width: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.userItems {
  padding: 10px 20px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all 0.2s linear; }

.userItems:hover {
  background: #eaf5ff; }

.myWalletTag {
  background: #26b5a9; }

.completeTag,
.myWalletTag {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2px 8px; }

.completeTag {
  background: #f7b710; }

.userSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.userSection li {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 5px;
  padding: 5px 10px; }

.userSection li,
.userSection li.myBizIntro,
.userSection li.personalIntro {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.userSection li.personalIntro {
  width: 270px;
  background: #eaf5ff; }

.loyaltyProgText {
  color: #efd9ab; }

.userPerText {
  color: #c2c2c2; }

.notiNo {
  position: absolute;
  top: 6px;
  right: 6px;
  background: #eb2226;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.loginType {
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 4px; }

.loginType li {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.loginType li.selected {
  background-image: -webkit-linear-gradient(356deg, #53b2fe, #065af3);
  background-image: -moz-linear-gradient(356deg, #53b2fe, #065af3);
  background-image: -o-linear-gradient(356deg, #53b2fe, #065af3);
  background-image: linear-gradient(94deg, #53b2fe, #065af3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  margin-left: 0; }

.userNameIcon {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.navOnly {
  width: 930px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11; }

.navOnly .chHeaderContainer {
  width: 100%; }

.navOnly .chHeaderContainer li.active:after {
  display: none; }

.navOnly .chHeaderContainer {
  padding: 0; }

.navOnly .chHeaderContainer nav {
  width: 100%;
  padding-top: 10px; }

.navOnly .chHeaderContainer nav ul {
  width: 100%; }

.navOnly .chHeaderContainer li a .chNavText {
  border-bottom: 3px solid #fff;
  padding: 8px; }

.navOnly .chHeaderContainer li a.active .chNavText {
  color: #008cff;
  border-bottom: 3px solid #008cff;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.stickyHeader .chHeaderContainer li a.active .chNavText {
  background: #008cff;
  color: #fff; }

.navOnly .chHeaderContainer nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 22px; }

.navOnly .font12 {
  font-size: 14px; }

.navOnly .chHeaderContainer li a.active .arrow {
  border-top: 2px solid #008cff;
  border-right: 2px solid #008cff; }

.navOnly .chHeaderContainer li a.active .chNavText span {
  color: #008cff; }

.navOnly .chHeaderContainer li .chNavIcon {
  width: 40px;
  height: 34px; }

.navOnly .chFlights {
  background-position: -4px -38px; }

.navOnly .chHotels {
  background-position: -50px -37px; }

.navOnly .Experiences,
.navOnly .Visa {
  background-position: 0 -37px; }

.navOnly .chTrains {
  background-position: -179px -37px; }

.navOnly .chBuses {
  background-position: -121px -38px; }

.navOnly .chGiftcards {
  background-position: -215px -37px; }

.navOnly .chMore {
  background-position: -257px -37px; }

.navOnly .chHolidays {
  background-position: -92px -37px; }

.navOnly .chCabs {
  background-position: -154px -39px; }

.navOnly .chHomestays {
  background-position: -105px -153px; }

.navOnly .active .chFlights {
  background-position: -4px 0; }

.navOnly .active .chHotels {
  background-position: -50px 1px; }

.navOnly .active .chVisa {
  background-position: -153px -197px; }

.navOnly .active .chExperiences {
  background-position: 0 0; }

.navOnly .active .chTrains {
  background-position: -179px 1px; }

.navOnly .active .chBuses {
  background-position: -121px 1px; }

.navOnly .active .chGiftcards {
  background-position: -215px -1px; }

.navOnly .active .chMore {
  background-position: -257px 1px; }

.navOnly .active .chHolidays {
  background-position: -92px 2px; }

.navOnly .active .chCabs {
  background-position: -154px -1px; }

.navOnly .active .chHomestays {
  background-position: -105px -193px; }

.widgetSection {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px 20px 0; }

.widgetSection h1 {
  font-size: 14px;
  text-align: center; }

.recentSearches,
.recentSearches li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.recentSearches li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background: #f2f2f2; }

.widgetSection .widgetSearchBtn {
  width: 216px;
  padding: 10px;
  margin-bottom: -32px;
  opacity: 1; }

.errorSection {
  width: auto;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: #ffd3d4;
  position: absolute;
  top: 94%;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px; }

.errorSectionTraveller {
  width: 220px !important; }

.errorSection:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ffd3d4;
  border-width: 8px;
  margin-left: -24px; }

.errorMsgText {
  width: auto;
  font-size: 13px; }

.dealImgWrap {
  width: 40px;
  height: 40px; }

.dealImgWrap img {
  width: 100%; }

.bannerCarousel {
  margin-top: -35px; }

.walletBanner,
.whyBook {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 80px;
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff; }

.walletBanner {
  padding: 16px 40px; }

.slideItem .walletBlanceIcon,
.walletBanner .walletBlanceIcon {
  -webkit-background-size: 300px 700px;
  -moz-background-size: 300px 700px;
  -o-background-size: 300px 700px;
  background-size: 300px 700px;
  background-position: -217px -1px;
  width: 40px;
  height: 40px; }

.whyBook .title {
  width: 310px;
  padding: 20px;
  background: #f2f2f2;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  position: relative;
  margin-bottom: 0; }

.whyBook .title:after {
  width: 30px;
  height: 80px;
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  background: #f2f2f2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.whyBook .items {
  width: 25%; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.alertTile {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #6a633f;
  border-bottom: 1px solid #6a633f; }

.pinkStrip {
  background: #ffd3d4; }

.greenStrip {
  background: #c1f1dd; }

.yellowStrip {
  background: #ffea87; }

.landingCard {
  padding: 25px 40px 40px; }

.landingCard h2 {
  font-size: 42px; }

.superOffersTab {
  border-bottom: 1px solid #c6c6c6; }

.superOffersTab li {
  padding: 5px;
  margin-right: 20px;
  border-bottom: 3px solid #fff;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  position: relative; }

.superOffersTab li:last-of-type {
  margin-right: 0; }

.superOffersTab li.active {
  border-bottom: 3px solid #008cff; }

.superOffersTab li.active a {
  color: #008cff; }

#Offers .itemCard {
  min-height: 170px; }

.superOffersTab .moreSuperOption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  z-index: 1;
  width: 219px;
  top: 30px;
  left: 0;
  padding: 15px 0; }

.superOffersTab .moreSuperOption p {
  text-transform: none;
  cursor: pointer;
  padding: 10px 30px; }

.superOffersTab .moreSuperOption p.selected,
.superOffersTab .moreSuperOption p:hover {
  background: #eaf5ff; }

.superOffersTab .arrow {
  display: inline-block;
  width: 5px;
  height: 5px;
  padding: 3px;
  margin: 0 0 3px 2px;
  border-top: 2px solid #4a4a4a;
  border-right: 2px solid #4a4a4a; }

.superOffersTab .arrowUp {
  -webkit-transform: rotate(-45deg) skew(3deg, 3deg);
  -moz-transform: rotate(-45deg) skew(3deg, 3deg);
  -ms-transform: rotate(-45deg) skew(3deg, 3deg);
  -o-transform: rotate(-45deg) skew(3deg, 3deg);
  transform: rotate(-45deg) skew(3deg, 3deg); }

.superOffersTab .arrowDown {
  -webkit-transform: rotate(135deg) skew(3deg, 3deg);
  -moz-transform: rotate(135deg) skew(3deg, 3deg);
  -ms-transform: rotate(135deg) skew(3deg, 3deg);
  -o-transform: rotate(135deg) skew(3deg, 3deg);
  transform: rotate(135deg) skew(3deg, 3deg); }

.landingCardSlider {
  margin-right: -40px; }

.landingCard .landingCardSlider .slideItem {
  padding: 0px 20px 10px 0;
  border: none;
  outline: none; }

.landingCardSlider .slideItem .itemCard {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 5px 10px 5px 2px;
  padding: 0 15px 15px; }

.landingCardSlider .slideItem .itemThumb {
  width: 120px;
  margin-top: -20px; }

.slideItem .itemThumb img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.landingCardSlider .slideItem .itemDesc {
  width: 290px; }

.validTag {
  background: #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 8px;
  margin: -15px 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0; }

.slick-slider button {
  position: absolute;
  top: 135px;
  width: 40px;
  height: 40px;
  background: #312e3333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 0;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.landingCardSlider .slick-prev {
  left: -40px; }

.landingCardSlider .slick-next {
  right: -22px; }

.landingCardSlider .categTitle {
  margin-top: -20px; }

.redBdr {
  width: 33px;
  height: 1px;
  background: #eb2026;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.tcApplyText {
  width: 120px;
  text-align: center; }

.cardInnerInfo {
  min-height: 140px; }

.madeFor {
  background: #c1f1dd;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  max-width: 390px;
  margin: -5px 0 0 20px;
  position: relative;
  z-index: -1;
  padding: 8px 0; }

.slideArrow {
  width: 68px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.landingCardSlider .slick-next:before,
.landingCardSlider .slick-prev:before {
  border: solid #008cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  right: 0;
  top: 0;
  content: ""; }

.landingCardSlider .slick-prev:before {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  right: 0;
  top: 0;
  content: ""; }

.landingCardSlider .slick-disabled.slick-next:before,
.landingCardSlider .slick-disabled.slick-prev:before {
  opacity: 0.3; }

.myTrips .myTripsTile {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
  padding: 8px 24px 20px; }

.dateCircle {
  width: 69px;
  height: 69px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #000; }

.myTrips .flightInfo {
  width: 200px; }

.myTrips .hotelInfo {
  width: 350px; }

.myTrips .busInfo {
  width: 150px; }

.flightInfo .flightLogo {
  width: 34px;
  height: 34px; }

.hotelInfo img {
  width: 60px;
  height: 60px; }

.termiInfo {
  width: 300px; }

.checkInOut {
  width: 110px; }

.slopLine {
  width: 1px;
  height: 60px;
  background: #9b9b9b;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); }

.tileExtension {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background-color: #eaf5ff;
  width: 1100px;
  margin-left: 10px;
  padding: 10px 20px; }

.htlIssue {
  width: 200px; }

.continueBookingCard,
.hotelSuggestCard {
  width: 360px;
  height: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #fff;
  margin-right: 20px; }

.continueBookingCard:nth-child(3),
.continueBookingCard:nth-child(6),
.continueBookingCard:nth-child(9),
.hotelSuggestCard:nth-child(3),
.hotelSuggestCard:nth-child(6),
.hotelSuggestCard:nth-child(9) {
  margin-right: 0; }

.continueBookingCard:hover,
.hotelSuggestCard:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); }

.continueBooking,
.hotelSuggest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.hotelSuggestCard {
  cursor: pointer; }

.hotelSuggestCard img {
  width: 100px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px; }

.hotelSuggestCard .HotelPrice {
  width: 130px; }

.hotelSuggestCard .htlSugInfo {
  width: 150px; }

.hotelSuggestCard .rating {
  display: inline-block;
  padding: 0 6px;
  line-height: 16px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: -moz-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: -o-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: linear-gradient(247deg, #3a7bd5, #00d2ff); }

.hotelSuggestCard .ratingBlank {
  width: 60px;
  height: 12px;
  background-position: -7px -278px; }

.hotelSuggestCard .ratingFill {
  width: 60px;
  height: 12px;
  background-position: -7px -266px; }

.hotelSuggestCard .ratingFill.fourHalf {
  width: 54px; }

.hotelSuggestCard .ratingFill.four {
  width: 48px; }

.hotelSuggestCard .ratingFill.threeHalf {
  width: 42px; }

.hotelSuggestCard .ratingFill.three {
  width: 36px; }

.hotelSuggestCard .ratingFill.twoHalf {
  width: 30px; }

.hotelSuggestCard .ratingFill.two {
  width: 24px; }

.hotelSuggestCard .ratingFill.oneHalf {
  width: 18px; }

.hotelSuggestCard .ratingFill.one {
  width: 12px; }

.lowFlightFare .slick-slider button,
.travelBlog .slick-slider button,
.travelWithUs .slick-slider button,
.whatNew .slick-slider button {
  top: -55px; }

.whatNew .slideItem .itemCard {
  width: 300px;
  height: 102px;
  padding: 0; }

.travelBlog .landingCardSlider .slideItem,
.travelWithUs .landingCardSlider .slideItem,
.whatNew .landingCardSlider .slideItem {
  padding: 0;
  outline: none;
  cursor: pointer; }

.whatNew .itemCard img {
  width: 66px;
  height: 103px; }

.travelBlog .itemCard img {
  width: 100%;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0; }

.travelBlog .slideItem .itemCard {
  padding: 0; }

.travelWithUs .slideItem .itemCard {
  width: 288px;
  height: 180px;
  padding-bottom: 10px; }

.handGesture {
  margin-right: -15px; }

.shortlistTag {
  width: 326px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #eaf5ff;
  padding: 0 20px; }

.continueBookingCard img {
  width: 30px;
  height: 30px; }

.premiumHotels .landingCardSlider img {
  min-height: 230px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.premiumHotels .rating {
  display: inline-block;
  padding: 0 6px;
  line-height: 16px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: -moz-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: -o-linear-gradient(203deg, #3a7bd5, #00d2ff);
  background-image: linear-gradient(247deg, #3a7bd5, #00d2ff);
  margin-top: -9px;
  margin-right: 20px; }

.premiumHotels .landingCardSlider .slideItem {
  padding: 0;
  outline: none;
  margin-right: 20px;
  cursor: pointer; }

.lowFlightFare .landingCardSlider .slideItem {
  padding: 20px 0 0;
  outline: none;
  margin-right: 10px;
  cursor: pointer; }

.premiumHotels .slick-slider button {
  top: -46px; }

.lowFlightFare .slideItem .itemCard {
  height: 245px; }

.lowFlightFare .slideItem .linkSlide {
  padding-top: 165px; }

.megaSaleTag,
.sellingTag {
  width: 105px;
  height: 21px;
  -webkit-border-radius: 19.6px;
  -moz-border-radius: 19.6px;
  border-radius: 19.6px;
  background-image: -webkit-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: -moz-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: -o-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: linear-gradient(259deg, #3023ae, #c86dd7);
  text-align: center;
  line-height: 22px;
  position: absolute;
  top: -12px;
  left: 41px; }

.sellingTag {
  background-image: -webkit-linear-gradient(191deg, #f09819, #f3d452);
  background-image: -moz-linear-gradient(191deg, #f09819, #f3d452);
  background-image: -o-linear-gradient(191deg, #f09819, #f3d452);
  background-image: linear-gradient(259deg, #f09819, #f3d452); }

.megaSaleTag {
  background-image: -webkit-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: -moz-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: -o-linear-gradient(191deg, #3023ae, #c86dd7);
  background-image: linear-gradient(259deg, #3023ae, #c86dd7); }

.newsletter {
  width: 280px; }

.newsletter input {
  width: 100%;
  border: 1px solid #9b9b9b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-size: 14px; }

.placeInfo {
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.placeInfo .infoTile {
  width: 330px; }

.placeInfo .infoTile img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #f2f2f2; }

.footerLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footerLinks ul {
  width: 180px; }

.footerLinks li a:hover {
  color: #008cff; }

.footerLinks ul.lastlinks {
  margin-left: 110px; }

.aboutMMT {
  background: #e7e7e7;
  padding: 60px 0; }

.aboutMMT .aboutDesc {
  width: 325px; }

.contactInfoSection {
  background: #212121;
  padding: 30px 0; }

.appProLink {
  width: 300px; }

.appProLink img {
  width: 134px;
  height: 39px; }

.footerBottom {
  background: #000;
  padding: 50px 0 60px; }

.socialMediaLinks {
  width: 110px; }

.socialMediaLinks a {
  width: 50px;
  height: 50px; }

.bdrWhite {
  color: #fff; }

@media only screen and (min-width: 1300px) and (max-width: 2000px) {
  .stickyScroll {
    width: 50px;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 15; }

  .stickyScroll li {
    width: 100%;
    height: 50px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .stickyScroll li:hover {
    background: #eaf5ff; }

  .tip {
    display: none; }

  .stickyScroll li:hover .tip {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 60px;
    padding: 10px;
    width: 220px;
    background: #219393;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 15; }

  .tip:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(33, 147, 147, 0);
    border-right-color: #219393;
    border-width: 5px;
    margin-top: -5px; }

  .stickyScroll li:first-of-type {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0; }

  .stickyScroll li:last-of-type {
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; }

  .stickyScroll li a.active:before {
    width: 6px;
    height: 6px;
    background: #008cff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px; }

  .stickyScroll li a.active ~ .tip {
    display: none; }

  ._MyBiz .stickyScroll li a.active:before {
    background: #ff664b; } }
@media only screen and (min-width: 300px) and (max-width: 1299px) {
  .stickyScroll,
  .stickyScroll li {
    display: none; } }
._MyBiz .navOnly .chFlights {
  background-position: -4px -37px; }

._MyBiz .navOnly .chHotels {
  background-position: -50px -37px; }

._MyBiz .navOnly .Experiences,
._MyBiz .navOnly .Visa {
  background-position: 0 -37px; }

._MyBiz .navOnly .chVenues {
  background-position: -49px -152px; }

._MyBiz .navOnly .chBuses {
  background-position: -121px -38px; }

._MyBiz .navOnly .chGiftcards {
  background-position: -215px -37px; }

._MyBiz .navOnly .chMore {
  background-position: -257px -37px; }

._MyBiz .navOnly .chHolidays {
  background-position: -92px -37px; }

._MyBiz .navOnly .chCabs {
  background-position: -154px -37px; }

._MyBiz .navOnly .chAdmin {
  background-position: -4px -157px; }

._MyBiz .navOnly .active .chFlights {
  background-position: -4px -113px; }

._MyBiz .navOnly .active .chHotels {
  background-position: -50px -114px; }

._MyBiz .navOnly .active .chExperiences,
._MyBiz .navOnly .active .chVisa {
  background-position: 0 -113px; }

._MyBiz .navOnly .active .chVenues {
  background-position: -49px -191px; }

._MyBiz .navOnly .active .chBuses {
  background-position: -121px -114px; }

._MyBiz .navOnly .active .chGiftcards {
  background-position: -215px -114px; }

._MyBiz .navOnly .active .chMore {
  background-position: -257px -114px; }

._MyBiz .navOnly .active .chHolidays {
  background-position: -92px -112px; }

._MyBiz .navOnly .active .chCabs {
  background-position: -154px -114px; }

._MyBiz .navOnly .active .chAdmin {
  background-position: -4px -199px; }

._MyBiz .swipIcon {
  background-position: -128px -115px; }

._MyBiz .primaryBtn {
  background-image: -webkit-linear-gradient(194deg, #ff684a, #ff4959);
  background-image: -moz-linear-gradient(194deg, #ff684a, #ff4959);
  background-image: -o-linear-gradient(194deg, #ff684a, #ff4959);
  background-image: linear-gradient(256deg, #ff684a, #ff4959); }

._MyBiz a.primaryBtn {
  color: #fff; }

._MyBiz .blueArrowIcon {
  background-position: -96px -117px; }

._MyBiz .stickyHeader .chHeaderContainer li a.active .chNavText {
  background: #ff664b; }

._MyBiz .chHeaderContainer nav ul li.moreItem {
  display: none; }

._MyBiz .navOnly .chHeaderContainer li a.active .chNavText {
  color: #ff664b;
  border-bottom: 3px solid #ff664b; }

._MyBiz .mmtLogo img {
  width: 60px;
  height: 30px; }

._MyBiz .loginType li.selected {
  background: #ff664b; }

._MyBiz .superOffersTab li.active a {
  color: #ff664b; }

._MyBiz .superOffersTab li.active {
  border-bottom: 3px solid #ff664b; }

._MyBiz .landingCardSlider .slick-next:before,
._MyBiz .landingCardSlider .slick-prev:before {
  border: solid #ff664b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  right: 0;
  top: 0;
  content: ""; }

._MyBiz .landingCardSlider .slick-prev:before {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  right: 0;
  top: 0;
  content: ""; }

._MyBiz .tileExtension {
  background-color: rgba(255, 102, 81, 0.1); }

.myBizCard {
  width: 390px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 20px; }

.loginExp {
  width: 700px;
  height: 120px;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 11px 50px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 11px 50px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 11px 50px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
  position: fixed;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 1; }

.myCircle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(45deg, #ace143, #219393);
  background-image: -moz-linear-gradient(45deg, #ace143, #219393);
  background-image: -o-linear-gradient(45deg, #ace143, #219393);
  background-image: linear-gradient(45deg, #ace143, #219393); }

.loginExp .rightInfo {
  width: 500px; }

.loginExpRemove {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }

.chatBox {
  width: 165px;
  height: 56px;
  -webkit-border-radius: 31.5px;
  -moz-border-radius: 31.5px;
  border-radius: 31.5px;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1; }

.dlLoader * {
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  -o-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0 50%; } }
@-o-keyframes Gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  to {
    background-position: 0 50%; } }
.ladingStateHeading {
  height: 20px; }

.ladingStateHeading,
.ladingStateText {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#dfdddf), to(#efefef));
  background: -webkit-linear-gradient(left, #dfdddf, #efefef);
  background: -moz-linear-gradient(left, #dfdddf, #efefef);
  background: -o-linear-gradient(left, #dfdddf, #efefef);
  background: linear-gradient(90deg, #dfdddf, #efefef);
  -webkit-background-size: 400% 400px;
  -moz-background-size: 400% 400px;
  -o-background-size: 400% 400px;
  background-size: 400% 400px; }

.ladingStateText {
  height: 10px; }

.ladingStateText:last-of-type {
  width: 80%; }

.loadingStateIcon {
  background: -webkit-gradient(linear, left top, right top, from(#dfdddf), to(#efefef)) !important;
  background: -webkit-linear-gradient(left, #dfdddf, #efefef) !important;
  background: -moz-linear-gradient(left, #dfdddf, #efefef) !important;
  background: -o-linear-gradient(left, #dfdddf, #efefef) !important;
  background: linear-gradient(90deg, #dfdddf, #efefef) !important; }

.loadingStateImg {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#dfdddf), to(#efefef));
  background: -webkit-linear-gradient(left, #dfdddf, #efefef);
  background: -moz-linear-gradient(left, #dfdddf, #efefef);
  background: -o-linear-gradient(left, #dfdddf, #efefef);
  background: linear-gradient(90deg, #dfdddf, #efefef);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.dlLoader {
  overflow: hidden; }

.superOfferSection {
  min-height: 300px; }

.loginBackDrop {
  width: 100%;
  height: 100%;
  background: rgba(13, 12, 12, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15; }

.verifyMod {
  z-index: 16; }

.verifyMod img {
  width: 61px;
  height: 63px; }

.fade-appear {
  opacity: 0;
  z-index: 1; }

.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity 0.2s linear; }

.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity .2s linear .2s;
  -o-transition: opacity .2s linear .2s;
  -moz-transition: opacity .2s linear .2s;
  transition: opacity 0.2s linear 0.2s; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  display: none;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  transition: opacity 0.2s linear; }

.fade-exit-done {
  opacity: 0;
  display: block; }

.slide-enter {
  opacity: 0;
  -webkit-transform: scale(0.97) translateY(5px);
  -moz-transform: scale(0.97) translateY(5px);
  -ms-transform: scale(0.97) translateY(5px);
  -o-transform: scale(0.97) translateY(5px);
  transform: scale(0.97) translateY(5px);
  z-index: 1; }

.slide-enter.slide-enter-active {
  -webkit-transition: opacity 3s linear 1s, -webkit-transform 3s ease-in-out 1s;
  transition: opacity 3s linear 1s, -webkit-transform 3s ease-in-out 1s;
  -o-transition: opacity 3s linear 1s, -o-transform 3s ease-in-out 1s;
  -moz-transition: opacity 3s linear 1s, transform 3s ease-in-out 1s, -moz-transform 3s ease-in-out 1s;
  transition: opacity 3s linear 1s, transform 3s ease-in-out 1s;
  transition: opacity 3s linear 1s, transform 3s ease-in-out 1s, -webkit-transform 3s ease-in-out 1s, -moz-transform 3s ease-in-out 1s, -o-transform 3s ease-in-out 1s; }

.slide-enter.slide-enter-active,
.slide-exit {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0); }

.slide-exit.slide-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.97) translateY(5px);
  -moz-transform: scale(0.97) translateY(5px);
  -ms-transform: scale(0.97) translateY(5px);
  -o-transform: scale(0.97) translateY(5px);
  transform: scale(0.97) translateY(5px);
  -webkit-transition: opacity 1.5s linear, -webkit-transform 1.5s ease-out;
  transition: opacity 1.5s linear, -webkit-transform 1.5s ease-out;
  -o-transition: opacity 1.5s linear, -o-transform 1.5s ease-out;
  -moz-transition: opacity 1.5s linear, transform 1.5s ease-out, -moz-transform 1.5s ease-out;
  transition: opacity 1.5s linear, transform 1.5s ease-out;
  transition: opacity 1.5s linear, transform 1.5s ease-out, -webkit-transform 1.5s ease-out, -moz-transform 1.5s ease-out, -o-transform 1.5s ease-out; }

.slide-exit-done {
  opacity: 0; }

.landingContainer .railTab > span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  padding: 5px 8px 3px; }

.landingContainer .railTab > span.active {
  -webkit-border-radius: 13.5px;
  -moz-border-radius: 13.5px;
  border-radius: 13.5px;
  background-color: #e7e7e7; }

.landingContainer .railTab > span:before {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
  display: inline-block;
  margin-right: 5px; }

.landingContainer .railTab > span.active:before {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  border: 0 none; }

.checkmark {
  position: absolute;
  left: 12px;
  top: 7px; }

.checkmark:after {
  content: "";
  display: block;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.soCardHeight {
  min-height: 170px; }

.soImgLoading {
  width: 100%;
  height: 65px;
  background: #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.widgetLoader {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 200px;
  position: absolute;
  z-index: 0;
  top: 120px;
  left: 0;
  right: 0; }

.widgetSection .widgetSearchBtn.disabled {
  background-color: #c2c2c2;
  background-image: none; }

.minHeight70 {
  min-height: 70px; }

.minHeight30 {
  min-height: 30px; }

.slideItem .itemImgWrap {
  width: 100%;
  height: 115px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#dfdddf), to(#efefef));
  background: -webkit-linear-gradient(left, #dfdddf, #efefef);
  background: -moz-linear-gradient(left, #dfdddf, #efefef);
  background: -o-linear-gradient(left, #dfdddf, #efefef);
  background: linear-gradient(90deg, #dfdddf, #efefef);
  -webkit-background-size: 400% 400px;
  -moz-background-size: 400% 400px;
  -o-background-size: 400% 400px;
  background-size: 400% 400px; }

.trainLandingCard .trainItems {
  width: 33%; }

.footerPadding {
  padding: 0 10px; }

.soTitleMinHeight {
  min-height: 15px; }

.upSide {
  z-index: 1 !important; }

.statusCheckIcon {
  width: 32px;
  height: 22px;
  background-position: -143px -437px; }

.runningStatusIcon {
  width: 34px;
  height: 22px;
  background-position: -143px -467px; }

.coachPosIcon {
  width: 8px;
  height: 29px;
  background-position: -184px -438px; }

.justifyElement {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.mt10 {
  margin-top: 10px; }

.zIndex14 {
  z-index: 14; }

.chatWrapper {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8); }

.chatInnerWrap,
.chatWrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0; }

.chatInnerWrap {
  width: 640px;
  height: 363px;
  border: 0;
  outline: 0;
  top: -100px;
  margin: auto; }

.chatInnerWrap iframe {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  position: relative; }

.chatWrapper .close_icn_landing {
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  position: absolute;
  z-index: 1000;
  top: 73px;
  right: 3px; }

.chatWrapper .send_query_form {
  top: 0 !important; }

.chatWrapper .close_icn {
  display: none !important; }

.recentHolidays .slick-slider button {
  top: -46px; }

.recentHolidays .landingCardSlider .slideItem {
  padding: 0;
  outline: none;
  border: none;
  margin-right: 10px; }

.recentHolidays .slideItem .itemCard {
  padding: 0 0 10px; }

.recentHolidays .itemCard img {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.recentHolidays .durationTag {
  background: #000;
  border-radius: 10px;
  left: 10px; }

.optionsTag,
.recentHolidays .durationTag {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 2px 8px;
  position: relative;
  top: -10px; }

.optionsTag {
  background: #fff;
  border-radius: 10px;
  left: 65%;
  border: 1px solid #e7e7e7; }

.recentHolidays .customisedTag {
  background-image: -webkit-linear-gradient(193deg, #3023ae, #c86dd7);
  background-image: -moz-linear-gradient(193deg, #3023ae, #c86dd7);
  background-image: -o-linear-gradient(193deg, #3023ae, #c86dd7);
  background-image: linear-gradient(257deg, #3023ae, #c86dd7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2px 8px;
  position: relative;
  top: -10px;
  left: 10px; }

.recentHolidays .itemCard .packageLeft {
  width: 230px; }

.recentHolidays .itemCard .packageRight {
  width: 80px; }

.trendingImgWrap {
  width: 248px;
  height: 129px;
  background-color: #f1f1f1; }

.completedTickIcon {
  width: 11px;
  height: 9px;
  background-position: -25px -316px; }

.comingSoonCard,
.visaComingSoon {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.comingSoonCard,
.visaComingSoon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.comingSoonCard {
  width: 360px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #fff;
  padding: 15px;
  margin-right: 20px; }

.infoAvible {
  width: 60%; }

.comingSoonCard:nth-child(3n+3) {
  margin-right: 0; }

.comingSoonCard:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); }

.comingSoonCard img,
.youKnowCard img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.comingSoonCard .cardInfo {
  width: 270px; }

.youKnowCard {
  width: 250px;
  margin-right: 30px; }

.youKnowCard:nth-child(4n+4) {
  margin-right: 0; }

.custSay .landingCardSlider .slideItem {
  padding: 0 10px 0 0; }

.custSay .slick-slider button {
  top: -56px; }

.custSay .itemCard {
  min-height: 210px; }

.myTripsTile .moreCountriesList {
  position: absolute;
  width: 200px;
  top: 100%;
  right: 0;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  background-color: #eaf5ff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none; }

.moreCntry:hover + .moreCountriesList {
  display: block; }

.processStepWrap {
  background: #eaf5ff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px; }

.processStepWrap .processStatus {
  width: 350px; }

.processStepWrap .processStep {
  width: 400px; }

.processStepWrap .stepCircle {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff; }

.activeStep .stepCircle,
.completedStep .stepCircle {
  background: #219393;
  color: #fff; }

.processStepWrap li.activeStep,
.processStepWrap li.completedStep {
  font-weight: 800; }

.processStepWrap li .completedTickIcon,
li.completedStep .stepNu {
  display: none; }

li.completedStep .completedTickIcon {
  display: block; }

li.activeStep .completedTickIcon {
  display: none; }

.processStepWrap .stepBlank {
  position: relative;
  width: 100%;
  background: #fff; }

.processStepWrap .stepBlank,
.processStepWrap .stepComplete {
  height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.processStepWrap .stepComplete {
  position: absolute;
  top: 0;
  left: 0;
  background: #219393; }

.bussw_inputBox.dates .downArrow:after,
.csw_inputBox.dates .lbl_input:after,
.csw_inputBox.timePicker .lbl_input:after,
.fsw_inputBox.dates .lbl_input:after,
.fsw_inputBox.flightTravllers .lbl_input:after,
.fsw_inputBox.travelFor .lbl_input:after,
.hsw_inputBox.dates .lbl_input:after,
.hsw_inputBox.roomGuests .lbl_input:after,
.hsw_inputBox.travelFor .lbl_input:after,
.rsw_inputBox.dates .downArrow:after,
.rsw_inputBox.travelFor .downArrow:after,
.vsw_inputBox.dates .lbl_input:after,
.vsw_inputBox.flightTravllers .lbl_input:after {
  border: solid #008cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  content: "";
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  vertical-align: top;
  margin: 3px 0 0 8px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -moz-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -o-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

@-webkit-keyframes shake {
  10%,
    90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%,
    80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%,
    50%,
    70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%,
    60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }
@-moz-keyframes shake {
  10%,
    90% {
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%,
    80% {
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%,
    50%,
    70% {
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%,
    60% {
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }
@-o-keyframes shake {
  10%,
    90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
    80% {
    transform: translate3d(2px, 0, 0); }
  30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
    60% {
    transform: translate3d(4px, 0, 0); } }
@keyframes shake {
  10%,
    90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%,
    80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%,
    50%,
    70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%,
    60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }
.noCursor {
  cursor: default !important; }

.b2bCard {
  height: 218px !important; }

.approvedTag {
  background-image: -webkit-linear-gradient(261deg, #43e1a8, #219393);
  background-image: -moz-linear-gradient(261deg, #43e1a8, #219393);
  background-image: -o-linear-gradient(261deg, #43e1a8, #219393);
  background-image: linear-gradient(189deg, #43e1a8, #219393); }

.pendingTag {
  background-image: -webkit-linear-gradient(261deg, #ff7f3f, #ff3e5e);
  background-image: -moz-linear-gradient(261deg, #ff7f3f, #ff3e5e);
  background-image: -o-linear-gradient(261deg, #ff7f3f, #ff3e5e);
  background-image: linear-gradient(189deg, #ff7f3f, #ff3e5e); }

.rejectedTag {
  background-image: -webkit-linear-gradient(261deg, #f5515f, #9f0469);
  background-image: -moz-linear-gradient(261deg, #f5515f, #9f0469);
  background-image: -o-linear-gradient(261deg, #f5515f, #9f0469);
  background-image: linear-gradient(189deg, #f5515f, #9f0469); }

.approvedTag,
.pendingTag,
.rejectedTag {
  width: 105px;
  height: 21px;
  -webkit-border-radius: 19.6px;
  -moz-border-radius: 19.6px;
  border-radius: 19.6px;
  text-align: center;
  line-height: 22px;
  position: absolute;
  top: -12px;
  left: 41px; }

.myIconWhite {
  background-position: -67px -489px !important; }

.myBizIcon {
  background-position: -98px -491px; }

.recPendingIcon {
  background-position: -55px -425px !important; }

.landingCardSlider .categTitle {
  margin-top: -20px; }

.appendBottom20 {
  margin-bottom: 20px; }

.greyText {
  color: #9b9b9b; }

.capText {
  text-transform: uppercase; }

.appendBottom20 {
  margin-bottom: 20px; }

.greyText {
  color: #9b9b9b; }

.capText {
  text-transform: uppercase; }

.soTitleMinHeight {
  min-height: 15px; }

.appendBottom20 {
  margin-bottom: 20px; }

.font18 {
  font-size: 18px;
  line-height: 18px; }

.lineHeight22 {
  line-height: 22px !important; }

.blackText {
  color: #000; }

.latoBlack {
  font-weight: 800; }

.slick-slide img {
  display: block;
  width: 100%;
  max-height: 135px; }

.appendRight20 {
  margin-right: 20px; }

div.gallery {
  float: left; }

div.gallery img {
  width: 100%;
  min-height: 190px;
  height: 191px;
  border-radius: 10px 10px 0 0; }

div.desc {
  text-align: left; }

a.imgBox:hover {
  color: transparent;
  text-decoration: underline; }

.tags {
  position: relative;
  left: 10px;
  bottom: 27px;
  text-transform: uppercase;
  padding: 7px 14px;
  background: #ff2a2a;
  font-size: 12px;
  color: white;
  font-weight: 500;
  border-radius: 3px 3px 0 0; }

.slideOffer {
  font-size: 1em;
  line-height: 22px;
  padding-top: 12px;
  text-transform: capitalize;
  color: #333; }

.main-footer .footer-bottom {
  position: relative;
  padding: 30px 0px;
  text-align: center;
  margin-top: 60px; }

.main-footer .footer-bottom .copyright {
  color: #aaaaaa;
  font-size: 14px; }

.copyright a {
  color: #337ab7; }

.logo-widget .logo-box {
  position: relative;
  margin-bottom: 20px; }

.logo-widget .logo-box img {
  border-radius: 5px;
  max-width: 150px; }

/*contact info*/
.main-footer .contact-info {
  position: relative;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0; }

.main-footer .contact-info li {
  position: relative;
  line-height: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #aaaaaa;
  font-size: 14px; }

.main-footer .contact-info li .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 1.9em;
  font-size: 16px;
  color: #aaaaaa; }

.social-links-two {
  position: relative; }

.social-links-two a {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  font-size: 20px;
  color: #aaaaaa;
  background-color: transparent;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease; }

.contact-info a {
  color: #aaaaaa; }

.contact-info a:hover {
  color: #173885; }

.quick-links {
  padding: 0;
  list-style-type: none; }

.place-card.place-card-large {
  display: none !important; }

.sticklr {
  position: fixed;
  top: 42%;
  right: 0;
  /* background-color: #f7f7f7;
  background-color: rgba(240, 240, 240, 0.75);
  border: 1px solid #b7b7b7;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc; */
  width: 35px;
  overflow: visible;
  z-index: 90; }

.bounce {
  position: relative;
  bottom: 0;
  margin-top: -25px;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0% {
    bottom: 5px; }
  25%, 75% {
    bottom: 15px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0; } }
.bx-controls {
  display: none !important; }

#particles-js canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0000ff; }

#particles-js-footer canvas.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b52525), to(#4a0404));
  background-image: -webkit-linear-gradient(top, #b52525, #4a0404);
  background-image: -moz-linear-gradient(top, #b52525, #4a0404);
  background-image: -o-linear-gradient(top, #b52525, #4a0404);
  background-image: linear-gradient(180deg, #b52525, #4a0404);
  -webkit-background-size: 100% 454px;
  -moz-background-size: 100% 454px;
  -o-background-size: 100% 454px;
  background-size: 100% 454px; }

/* Footer CSS */
.main-footer {
  position: relative;
  /*padding-top: 60px;*/
  color: #ffffff;
}

.main-footer .upper-box {
  position: relative; }

.main-footer .upper-box .footer-info-box {
  position: relative;
  margin-bottom: 20px;
  border-right: 1px solid #333333; }

.main-footer .upper-box .footer-info-box .inner-box {
  position: relative;
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block; }

.main-footer .upper-box .footer-info-box .icon-box {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 44px;
  height: 44px;
  color: #6b6b6b;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  border: 1px solid #6b6b6b; }

.main-footer .upper-box .footer-info-box .inner-box .text {
  color: #aaaaaa;
  font-size: 14px;
  line-height: 1em;
  text-align: left; }

.main-footer .upper-box .footer-info-box .inner-box h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  font-family: 'Lato', sans-serif; }

.main-footer .upper-box .footer-info-box:last-child {
  margin-right: 0px;
  border-right: 0px; }

.main-footer .upper-box .footer-info-box:nth-child(2n + 0) {
  text-align: center; }

.main-footer .upper-box .footer-info-box:nth-child(3n + 0) {
  text-align: right; }

/*Widgets Section*/
.main-footer .widgets-section {
  position: relative; }

.main-footer .footer-column {
  position: relative;
  margin-top: 20px; }

.main-footer .footer-widget {
  position: relative;
  margin-bottom: 30px; }

.quick-links a {
  color: #aaaaaa; }

.main-footer h2 {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif; }

.main-footer .about-widget .text {
  margin-bottom: 25px; }

/*List Widget*/
.main-footer .links-widget .list li {
  position: relative;
  margin-bottom: 12px; }

.main-footer .links-widget .list li a {
  position: relative;
  display: block;
  line-height: 24px;
  color: #c6c6c6;
  font-size: 15px;
  padding-left: 15px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

.main-footer .links-widget .list li a:after {
  position: absolute;
  content: '\f105';
  left: 0px;
  font-family: 'FontAwesome'; }

.main-footer .links-widget .list li a:hover {
  color: #fe9900; }

/*Twitter Widget*/
.main-footer .twitter-widget .feed {
  position: relative;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 15px; }

.main-footer .twitter-widget .feed .month {
  color: #6c9ecd;
  font-size: 14px;
  font-weight: 300; }

.main-footer .twitter-widget .feed .month a {
  position: relative;
  color: #fe9900; }

.main-footer .twitter-widget .feed .text {
  margin-bottom: 0px;
  line-height: 1.8em;
  font-weight: 300;
  color: #aaaaaa;
  font-size: 14px;
  display: inline-block; }

.main-footer .twitter-widget .feed .text .icon {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 1em;
  margin-right: 5px;
  display: inline-block; }

.main-footer .twitter-widget .feed .date-box {
  color: #ffffff;
  font-size: 14px;
  line-height: 1em;
  margin-top: 5px; }

/*Subscribe Widget*/
.main-footer .subscribe-widget .form-group {
  position: relative;
  display: block;
  margin-top: 30px; }

.main-footer .subscribe-widget .form-group input[type="text"],
.main-footer .subscribe-widget .form-group input[type="tel"],
.main-footer .subscribe-widget .form-group input[type="email"],
.main-footer .subscribe-widget .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 10px 50px 10px 15px;
  height: 52px;
  color: #ffffff;
  font-size: 14px;
  background: #151515;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease; }

.main-footer .subscribe-widget .form-group input[type="text"]:focus,
.main-footer .subscribe-widget .form-group input[type="tel"]:focus,
.main-footer .subscribe-widget .form-group input[type="email"]:focus,
.main-footer .subscribe-widget .form-group textarea:focus {
  background: rgba(255, 255, 255, 0.15); }

.main-footer .subscribe-widget .form-group input[type="submit"],
.main-footer .subscribe-widget button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  color: #f06529;
  background: none; }

.footerH {
  font-size: 18px;
  font-weight: 800; }
.datepicker.dropdown-menu{
    z-index:9999!important;
}
     #preloader
{
/*    height: 800px;*/
   position: fixed;
   width: 100%;
   background: whitesmoke;
   opacity: 0.6;
   text-align: center;
/*   position: absolute;*/
   z-index: 1234567;
   top: 0;
   padding: 300px;
  /*display: none;*/ 
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx){
.chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span{
    background-image:unset!important;
}
}
   
.footerGradient{
  width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b52525), to(#4a0404));
    background-image: -webkit-linear-gradient(top, #b52525, #4a0404);
    background-image: -moz-linear-gradient(top, #b52525, #4a0404);
    background-image: -o-linear-gradient(top, #b52525, #4a0404);
    background-image: linear-gradient(180deg, #b52525, #4a0404);
    -webkit-background-size: 100% 454px;
    -moz-background-size: 100% 454px;
    -o-background-size: 100% 454px;
    background-size: 100% 454px;
}
#passengerCount{
  z-index: 999999;
    background: #ffffff;
    position: absolute;
    width: 432px;
    left: -52px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 17px 5px 0;
    margin-top: 20px;
    border-radius: 1px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
#passengerCount label {
  font-size: 12px;
  font-family: inherit;
}
button.flight-class {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 11px;
  background: #3f51b5;
  width: 100%;
  border: solid 1px #d2d0cc;
  padding: 7px 7px;
}
.flight-class.active {
  background: #e53935;
}
.flight-class.active {
  background: #e53935;
}

.main-navbar .container {
  padding: 0;
}
button#done.demise {
  background: #e53935;
  color: #fff;
}
.donebtn {
  width: 36%;
  position: relative;
  left: -17px;
}
.plus ,.minus {
  border-radius: 50%;
  border: 1px solid #1779ba;
  color: #1779ba;
}
.fullimage img,.sticky-col .theme-sidebar-section:first-of-type{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.feedback{
  position: fixed;
  bottom: 107px;
  right: 0;
}

/* .plus i,.minus i{

  color: #fff;
} */
/*# sourceMappingURL=main.css.map */
