.slider_sec {
  background: gray;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.slider_in {
  padding: 15px 40px 20px 40px;
}

.slider_sec h3 {
  margin: 0px 0 45px 0;
  padding: 10px 0 0 0;
  line-height: 1;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}

.slider_sec h4 {
  margin: 0px;
  padding: 0px 0 0 0;
  line-height: 1;
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}

.img_wrp {
  line-height: 0px;
  background: #fff;
  padding: 5px;
}

.img_wrp img {
  transition: all 0.5s ease;
}

.owl-next,
.owl-prev {
  position: absolute;
  cursor: pointer;
  top: 37%;
  width: 58px;
  height: 55px;
  border: solid #008cff;
  display: inline-block;
  padding: 4px;
  -moz-transform: rotate(134deg);
  -ms-transform: rotate(134deg);
  -o-transform: rotate(134deg);
  transform: rotate(134deg);
  -webkit-transform: rotate(134deg);
  content: "";
}

.owl-prev {
  left: -58px;
  border-width: 0 6px 6px 0px;
}

.owl-next {
  right: -51px;
  border-width: 6px 0px 0px 6px;
}


.img_text {
  position: absolute;
  left: 0;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.img_text h5 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 0 4px 0px;
}

.img_text p {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}

.img_wrp:hover img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.img_wrp:hover .img_text {
  opacity: 1;
  transition: all 0.5s ease;
}

.img_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 1;
}

.img_wrp:hover .img_bg {
  opacity: 1;
}

/*Owl carousel Library*/
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  -ms-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-controls .owl-dot,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale .1s ease;
  -moz-transition: scale .1s ease;
  -ms-transition: scale .1s ease;
  -o-transition: scale .1s ease;
  transition: scale 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -ms-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=owl-carousel.css.map */
