input#test1212:focus {
    background: #3f51b4;
}
/*** Mobile Only CSS ***/
@media (min-width : 320px) and (max-width : 768px) { 
a.navbar-brand {
    width: 82%;
    padding: 0px;
    display: block;
    margin: 0 auto;
}
.hkrsws {
    float: left;
    width: 100%;
}
.hkap {
    width: 100%;
    float: left;
}
.hotelprice-kidetail {
    text-align: center !important;
}
.hkrsws {
    margin-top: 8px;
}
.hotel-ka-pata {
    margin-top: 8px;
}
.destination-title .btn {
    padding: 8px 4px;
}
#destination-price {
    float: left;
}
#packages .col-xs-4 {
    min-height: auto !important;
}
div#panel {
    left: -20px;
    width: 112%;
    margin-top: 10px;
}
.flight_tipTip_cust_card {
    width: 114%;
}
.user-dashboard ul#myTab li {
    width: 33%;
    display: block;
    float: left;
    cursor: pointer;
}
select#person-title {
    margin-right: 4px;
    width: 56px;
    border: 1px solid #ddd;
}
.user-dashboard ul#myTab li a {
    font-size: 14px;
    height: auto;
}
.user-dashboard ul#myTab li img {
    width: 30px;
}

.user-dashboard ul#myTab {
    width: 100%;
}

h2.wallet-amount-fig {
    font-size: 45px;
}

.boxy-section {
    height: auto !important;
}
.result_p span.spl_price {
    width: 30%;
}
div#mobile_queue_filter {
    margin-top: 30px;
    float: left;
}
div#mobile_pax_detail {
    padding-top: 15px;
    float: left;
}
input.fname {
    width: 78.5% !important;
}
div#flightlist-head {
    padding: 0;
}
.flightlisting-below {
    padding: 0;
}
.flightlisting-below .content-side {
    padding: 0;
}
#multiTrip {
    display: none;
}
div#contactForm {
    width: 200%;
    left: -175px;
}
.triangle {
    left: 205px;
}
button.flight-class {
    padding: 5px 2px;
    font-size: 10px;
}
#contactform input {
    height: 26px;
}
.form-flights .form-group label {
    padding: 0 0 0 10px;
    width: 100%;
    text-align: center;
}
#contactform .col-xs-4, #contactform .col-xs-3, #contactform .col-xs-5 {
    padding: 0;
}
div#ui-datepicker-div {
    left: 0 !important;
}
.navbar-brand img {
    width: 61% !important;
    margin: 0 0 0 85px !important;
    padding-top: 8px;
}
.main-navbar .navbar-brand {
    padding-top: 0px !important;
}
.form-group-lg .form-control {
    height: 25px;
}    
.flightlist-price {
    margin-top: 8px;
    text-align: left;
}
#flight-homepage .content-side .tab-content .col-xs-3 {
    min-height: 80px;
}
.form-flights {
    padding: 15px 0px;
}
.form-flights .row .col-xs-12 {
    margin-bottom: 15px;
}
.form-flights .row h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.form-flights .row .form-search-btn {
    margin-top: 5px;
}
#hotel-listing .btn-primary.dropdown-toggle {
    width: 100%;
    margin: 15px 0;
    font-size: 12px;
    text-transform: capitalize;
    padding: 8px 2px;
    background: #3f51b5;
}
div#hotel-mobile-filters .col-xs-3 {
    padding: 0 2px;
    vertical-align: middle;
}
#hotel-listing .btn-primary.dropdown-toggle .caret {
    margin-left: 3px;
}
div#hotel-mobile-filters {
    display: block;
    float: left;
    width: 100%;
    border-bottom: solid 2px #ddd;
    margin-bottom: 20px;
}
div#HotelBooking {
    padding: 0 15px;
}
}
/*** Mobile Only CSS Ends ***/

/*** Desktop Only CSS ***/
@media (min-width : 768px) { 
#hotel-details #myCarousel {
    width: 60%;
    margin-left: 20%;
}
#flight-homepage .content-side {
    padding: 0 15px;
}
.result_p span.book_now_emails {
    width: 100%;
}
input.fname {
    width: 80.9% !important;
}
div#HotelBooking {
    padding: 0 70px;
}
}
/*** Desktop Only CSS Ends ***/

input.input-error, select.input-error {
    border: solid 1.5px #e53935 !important;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #0000002b;
}
#hotel-details .comb-price {
    margin-right: 5px;
}
div#HotelBooking {
    margin: 50px 0 0 0;
    
}
textarea#FlightInfo {
    width: 100%;
    border: solid 1px #ddd;
    height: 85px;
}
.hotel-detail-card {
    margin-bottom: 17px;
    padding: 12px 0;
}
.city.city_wdth {
    font-size: 12px;
    color: #808285;
}
.form-flights .tabbable-line #tab a {
    font-size: 12px;
    padding: 6px 0;
}

.form-flights .tabbable-line #tab {
    border: none;
    box-shadow: 1px 1px 1px 1px #00000047;
}

.form-flights .tabbable-line #tab a:first-child {
    border-top-left-radius: 5px;border-bottom-left-radius: 5px;
}

.form-flights .tabbable-line #tab a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.flightlisting-below #accordion .panel-body {
    padding: 0 0 5px 0;
}

.flightlisting-below #accordion .panel-body .col-xs-12 {
    /* padding: 0 0 0 5px; */
}
.date_width {
    width: 32.6% !important;
}
input#PromoCode {
    width: 75%;
}
#continue {
    width: auto !important;
    margin: 0 auto !important;
    display: block;
    margin-bottom: 5px !important;
    background: #e53935;
}
.airline_label {
    color: #3f51b5;
    font-weight: 600;
    padding-right: 10px;
}
.user-dashboard input, .user-dashboard select {
    margin-bottom: 12px;
    float: left;
}
input#datepicker1[disabled] {
    color: #bbb;
    border-bottom: #bbbbbbb5 solid 5px;
}

input#datepicker1[disabled]::placeholder {
    color: #bbbbbbb5;
}
i.fa.fa-star-o {
    font-size: 14px;
}
.image-dest {
    position:relative;
    border: solid 1px #ddd;
    padding: 0px;
    margin-right: 5px;
    width: 32.5%;
}
.image-dest a div span img {
    width:100%;
    vertical-align:top;
}
.image-dest:hover{
    box-shadow: 0px 0px 0px 0px;
}
.image-dest:hover:after, .image-dest:hover:before {
    opacity:1;
    box-shadow: 0px 0px 0px 0px;
}

.hotel-ki-detail {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 20px;
    padding-left: 10px;
}
.hotel-ki-detail .standard {
    line-height: 39px;
    vertical-align: baseline;
}
.hotel-ki-detail .standard .fa {
    font-size: 25px;
    vertical-align: middle;
}
.hotel-ka-pata {
    width: 100%;
    display: block;
    float: left;
    padding: 0 20px;
}
.hotel-ka-naam {
    margin-bottom: 0px;
}
.hotel-discount-price {
    display: block;
    color: #aaa;
    text-decoration: line-through;
}

button#hotelBookkaro {
    background: #e53935;
    color: #fff;
    border: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 1px #6b5b5b5e;
    margin-top: 6px;
}
.hotelprice-kidetail {
    text-align: right;
    font-size: 85%;
    color: #aaa;
}
.hotel-asli-price {
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.hkrsws {
    padding: 0;
}

.hotelprice-kidetail {
    padding: 0;
}
.flightlisting-below .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    color: #000;
    opacity: 1;
    z-index: 99;
}

.flightlisting-below  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.flightlisting-below  .tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip-text {
    display: block;
    width: max-content;
}
/***** The bothering row ***/
.row {
    /* margin: 0px; */
}
/***** The bothering row ends ***/
.invite-btn:hover {
    color: #fff;
    font-weight: 600;
}
.page-template {
    padding-top: 25px;
}

.page-template h2 {
    font-size: 18px;
    margin: 30px 0 15px 0;
}