.immybox.immybox_witharrow{
    border-radius: 4px;
    background: none;
    border: none;
    border-bottom: 5px solid #e53935;
    height: 28px;
    color: #fff;
}.immybox_results{position:absolute;overflow:auto;max-height:20em;background-color:white;border:1px solid #ccc;z-index:9001}.immybox_results p.immybox_moreinfo,.immybox_results p.immybox_noresults{color:#ccc;font-style:italic;padding:0 1em;margin:0}.immybox_results ul{list-style-type:none;margin:0;padding:0}.immybox_results ul li{padding:0.25em 1em;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none}.immybox_results ul li.immybox_choice{cursor:pointer}.immybox_results ul li.immybox_choice.active{background-color:#f1f1f1}.immybox_results ul li.immybox_choice .highlight{text-decoration:underline}